#menu {
	margin-left:35px;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	font-family: Georgia;
	}
#menu li{
	float:left;
	height:33px;
	padding:0;
	margin:0;
	width:150px;
	text-align:center;
	position:relative;
	padding-top: 12px;
}
#menu li li{
	background:rgba(0,102,102,0.75);
}
#menu li ul{
	list-style-type: none;
	padding:0;
	margin:0;
	width:150px;
	display:none;
	position:absolute;
	left:0;
	top:45px;
}
#menu li ul li ul li{
	list-style-type: none;
	background:rgba(0,102,102,0.75);
	width:150px;
	display:none;
	position:relative;
	left:150px;
	top:-45px;
}
#menu a.fly{
	background:url(arrow_over.gif)  no-repeat;
	background-position: right 8px;
	cursor:pointer;
}

#menu a.top_link span.down{
	/* background:url(arrow_over.gif) no-repeat right top;
	cursor:pointer;*/
}
#menu li a{
	display:block;
	width:150px;
	height:33px;
	color: #fff;
	text-decoration: none;
}
#menu li:hover ul, #menu li.jshover ul{
	display:block;
}
#menu li:hover ul li:hover ul li, #menu li.jshover ul{
	display:block;
}
#menu li:hover, #menu li.jshover{
	background:#0a2936;
}


